# Git
.git 
.gitignore 

# Docker
.docker-compose.yaml 
.Dockerfile 
.dockerignore 

# Python 
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
/app/migrations/

# Local data
data/